<main id="main" class="main">

  <app-breadcrumb [tBread]="titlePage" [fBread]="firstBread" [sBread]="secondBread" [thBread]="thirdBread"></app-breadcrumb>

  
    <section class="section dashboard">
      <div class="row">


        <div class="col-lg-12">
          <div class="row">


            <div class="col-xxl-3 col-md-12">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Total de Certificações</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bookmark-star"></i>
                    </div>
                    <div class="ps-3">
                      <h1>5</h1>
                    </div>
                  </div>
                </div>

              </div>
            </div>


            <div class="col-xxl-3 col-md-12">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Certificações Válidas</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bookmark-check"></i>
                    </div>
                    <div class="ps-3">
                      <h1>4</h1>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xxl-3 col-xl-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Certificações em Atualização</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bookmark-plus"></i>
                    </div>
                    <div class="ps-3">
                      <h1>1</h1>
                    </div>
                  </div>

                </div>
              </div>

            </div>

             <div class="col-xxl-3 col-xl-12">

              <div class="card info-card expired-card">

                <div class="card-body">
                  <h5 class="card-title">Certificações em Expiradas</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-bookmark-x"></i>
                    </div>
                    <div class="ps-3">
                      <h1>1</h1>
                    </div>
                  </div>

                </div>
              </div>

            </div>

            <div class="col-xxl-3 col-xl-12">

              <div class="card info-card delete-card">

                <div class="card-body">
                  <h5 class="card-title">Demitidos</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person-x"></i>
                    </div>
                    <div class="ps-3">
                      <h1>0</h1>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section>

  </main>